<div>
  <h3>Timer</h3>
  <div id="timer_display">
    00:00
  </div>
  <div>
    <%= button_to 'Start', nil , { :id => 'start_pause_button' } %>
    <%= button_to 'Stop', nil , { :id => 'stop_button' } %>
  </div>
</div>
